#reorderDescription {
  font-family:'Helvetica';
  font-weight:bold;
  font-size:12px;
}

#reorderPrice {
  font-weight:bold;
  font-size:12px;
  color:red;
}

#reorderEach {
  font-weight:bold;
  font-size:12px;
  color:gray;
}
